.body {
    background-color: #BEC4C6;
}

.header {
    background-color: #68E0CA;
    padding-left: 210px;
}


/*      this should work

.name { 
    padding-left: 210px; 
}
*/

h2 {
    background-color: #48C1EA;
    color: blue;
    padding-left: 210px;
}



#hondaCivicImage {
    border: white;
    border-style: solid;
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 10px 2px black;
    
}

.transportationDescription {
    background-color: #BD7CE4;
    color: purple;
    padding-left: 210px;
}

.sideNavBar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;    
}

.sideNavBar a, .drop-down-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sideNavBar a:hover, .drop-down-btn:hover, .fa-caret-down:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color: rgb(94, 229, 239);
    color: white;
  }

  .drop-down-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 2px;
    color: #818181;
  }